.load-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    background-color: #080014;
}

.loading {
    position: relative;
    width: 100%;
    display: block;
    
}

.load-content {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(250, 235, 215, 0.811);
}

.load-first {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f11010cb;
}

.load-second {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6ca2ffb3;
}

.load-third {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #15172bd1;
}


.load-message {
    position: absolute;
    top: 50px;
    left: 0;
    width: 1200px;
    height: 450px;
    background: #fff0d1;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.load-message-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.load-message-title {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
}

.load-message-title h3 {
    font-size: 20px;
    color:#15172bd1;
}

.load-message-title h1 {
    width: 400px;
    font-size: 60px;
    color: #f11010cb;
}

.load-message-title h1:nth-child(3){
    padding: 0 0 30px 0;
    border-bottom: 25px solid #f11010cb;   
}

.load-message-email {
    padding: 20px 20px 0px 0;
    border-top: 10px solid #15172bd1;
}

.load-message-card {
    width: auto;
    height: 150px;
    background-color: #0a104dd1;
    color: #fbfbfb;
    padding: 20px;
}


@media (max-width: 1250px) {
    .load-content {
        width: 800px;
    }

    .load-message {
        width: 800px;
    }


    .load-message-title h1 {
        font-size: 40px;
        width: auto;
    }

    .load-message-card h3 {
        font-size: 20px;
    }
}

@media (max-width: 870px) {

    .load-message-title {
        justify-content: center;
        align-items: center;
    }
    .load-message-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .load-message-title h1:nth-child(3){
        padding: 0 0 0px 0;
        border-bottom: 0px;   
    }

    .load-message {
        display: flex;
        align-items: center;
        gap: 30px
    }

    .load-message-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 810px) {

    .load-content {
        width: 500px;
    }

    .load-message {
        width: 500px;
    }

    .load-message-title h1 {
        font-size: 30px;
        width: auto;
    }

    .load-message-email p {
        font-size: 18px;
    }
}

@media (max-width: 510px) {
    .load-content {
        width: 300px;
    }

    .load-message {
        width: 300px;
    }

    .load-message-card h4 {
        text-align: center;
        font-size: 15px;
    }

    .load-message-card h3 {
        text-align: center;
        font-size: 15px;
    }

    .load-message-email p {
        font-size: 13px;
    }
}
